/*
    <inline class="badge" data-type="outline", data-icon="hatch" data-size="md"></inline>
*/

@layer css.components {

    .badge {
        display: inline flex;
        vertical-align: middle;
        grid-template-columns: auto auto;
        align-items: baseline;
        align-content: center;
        font-family: var(--font-family-sans);
        overflow-wrap: anywhere;
    }

    .badge:not([data-size]),
    .badge[data-size="md"] {
        min-height: var(--md-box-height);
        border-radius: 0.5rem;
        padding-block: calc((var(--md-box-height) - var(--md-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--md-font-size);
        line-height: var(--md-line-height);
        letter-spacing: var(--md-letter-spacing);
    }

    .badge[data-size="xs"] {
        min-height: var(--xs-box-height);
        border-radius: 0.25rem;
        padding-block: calc((var(--xs-box-height) - var(--xs-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--xs-font-size);
        line-height: var(--xs-line-height);
        letter-spacing: var(--xs-letter-spacing);
    }

    .badge[data-size="sm"] {
        min-height: var(--sm-box-height);
        border-radius: calc(6 / 16 * 1rem);
        padding-block: calc((var(--sm-box-height) - var(--sm-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--sm-font-size);
        line-height: var(--sm-line-height);
        letter-spacing: var(--sm-letter-spacing);
    }

    .badge[data-size="lg"] {
        min-height: var(--lg-box-height);
        border-radius: 0.5rem;
        padding-block: calc((var(--lg-box-height) - var(--lg-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--lg-font-size);
        line-height: var(--lg-line-height);
        letter-spacing: var(--lg-letter-spacing);
    }

    .badge[data-size="xl"] {
        min-height: var(--xl-box-height);
        border-radius: 0.75rem;
        padding-block: calc((var(--xl-box-height) - var(--xl-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--xl-font-size);
        line-height: var(--xl-line-height);
        letter-spacing: var(--xl-letter-spacing);
    }

    .badge[data-size="2xl"] {
        min-height: var(--2xl-box-height);
        border-radius: 0.75rem;
        padding-block: calc((var(--2xl-box-height) - var(--2xl-line-height)) / 2);
        padding-inline: 0.5rem;
        font-size: var(--2xl-font-size);
        line-height: var(--2xl-line-height);
        letter-spacing: var(--2xl-letter-spacing);
    }

    .badge[data-type="text"] {
        color: var(--color-emphasis);
    }

    .badge:not([data-type]),
    .badge[data-type="outline"] {
        border: 0.125rem solid var(--color-emphasis);
        background-color: var(--color-background);
        color: var(--color-emphasis);
    }

    .badge[data-type="fill"] {
        border: 0.125rem solid transparent;
        background-color: var(--color-emphasis-fill);
        color: rgb(var(--rgb-white));
    }

}
