/* <figure>
      <blockquote>
          <p>Text</p></blockquote>
      <figcaption>Soseki Natsume. 1914. <cite>Kokoro</cite>. Iwanami Shoten, Tokyo, Japan.</figcaption></figure> */

@layer css.components {

    figure:has(> blockquote:first-child) {
        --border-width: 0.5rem;
        --indent: 1.5rem;
    }

    figure > blockquote:first-child {
        margin: 0;
        border-left: var(--border-width) solid var(--color-emphasis);
        padding-left: var(--indent);
    }

    figure > figcaption {
        padding-left: calc(var(--border-width) + var(--indent));
    }

    figure > figcaption > cite {
        font-style: normal;
    }

}
