/* <label>
        <input type="checkbox">
        inline</label> */

@layer css.components {

    label:has(> input[type="checkbox"]:not([role="switch"])) {
        position: relative;
        display: inline flex;
        align-items: center;
        gap: var(--gap);
        width: fit-content;
        color: rgb(var(--rgb-ink));
        font-family: var(--font-family-sans);
        font-weight: normal;
    }

    label:has(> input[type="checkbox"]:not([role="switch"]):is(:disabled, [aria-disabled="true"])) {
        color: var(--color-muted);
    }

    label[data-size="xs"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 0.25rem;
        --checkbox-input-size: var(--xs-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: 0.125rem;
        min-height: var(--xs-box-height);
        font-size: var(--xs-font-size);
        line-height: var(--xs-line-height);
        letter-spacing: var(--xs-letter-spacing);
    }

    label[data-size="sm"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 0.25rem;
        --checkbox-input-size: var(--sm-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: 0.125rem;
        min-height: var(--sm-box-height);
        font-size: var(--sm-font-size);
        line-height: var(--sm-line-height);
        letter-spacing: var(--sm-letter-spacing);
    }

    label:not([data-size]):has(> input[type="checkbox"]:not([role="switch"])),
    label[data-size="md"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 0.5rem;
        --checkbox-input-size: var(--md-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: 0.125rem;
        min-height: var(--md-box-height);
        font-size: var(--md-font-size);
        line-height: var(--md-line-height);
        letter-spacing: var(--md-letter-spacing);
    }

    label[data-size="lg"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 0.5rem;
        --checkbox-input-size: var(--lg-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: calc(3 / 16 * 1rem);
        min-height: var(--lg-box-height);
        font-size: var(--lg-font-size);
        line-height: var(--lg-line-height);
        letter-spacing: var(--lg-letter-spacing);
    }

    label[data-size="xl"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 0.75rem;
        --checkbox-input-size: var(--xl-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: calc(3 / 16 * 1rem);
        min-height: var(--xl-box-height);
        font-size: var(--xl-font-size);
        line-height: var(--xl-line-height);
        letter-spacing: var(--xl-letter-spacing);
    }

    label[data-size="2xl"]:has(> input[type="checkbox"]:not([role="switch"])) {
        --gap: 1rem;
        --checkbox-input-size: var(--2xl-line-height);
        --checkbox-size: calc(var(--checkbox-input-size) + 2 * 0.25rem);
        --checkbox-border-width: 0.25rem;
        min-height: var(--2xl-box-height);
        font-size: var(--2xl-font-size);
        line-height: var(--2xl-line-height);
        letter-spacing: var(--2xl-letter-spacing);
    }

    @media (hover: hover) {
        label:has(> input[type="checkbox"]:not([role="switch"]))::before {
            position: absolute;
            top: 50%;
            left: calc((var(--checkbox-size) - var(--checkbox-input-size)) / -2);
            transform: translateY(-50%);
            width: var(--checkbox-size);
            height: var(--checkbox-size);
            border-radius: 12.5%;
            content: "";
            pointer-events: none;
        }

        label:has(> input[type="checkbox"]:not(:focus, :disabled, [aria-disabled="true"], [role="switch"]):hover)::before {
            background-color: rgb(var(--rgb-ink) / var(--alpha-highlight-weak));
        }
    }

    label > input[type="checkbox"]:not([role="switch"]) {
        position: relative;
        flex-shrink: 0;
        margin: 0;
        appearance: none;
        width: var(--checkbox-input-size);
        height: var(--checkbox-input-size);
        border-radius: calc(2 / 18 * 100%);
        background-color: var(--color-background);
        background-clip: padding-box;
        border: var(--checkbox-border-width) solid var(--color-muted);
    }

    label > input[type="checkbox"][aria-invalid="true"]:not([role="switch"]) {
        border-color: rgb(var(--rgb-error));
    }

    label > input[type="checkbox"]:not([role="switch"]):is(:disabled, [aria-disabled="true"]) {
        border-color: rgb(var(--rgb-light-gray));
    }

    label > input[type="checkbox"]:not([role="switch"]):focus {
        outline: none;
        box-shadow:
            inset 0 0 0 0.125rem var(--color-background),
            inset 0 0 0 0.1875rem var(--color-focus);
    }

    @media (hover: hover) {
        label > input[type="checkbox"]:not(:disabled, [aria-disabled="true"], [role="switch"]):hover {
            border-color: rgb(var(--rgb-border));
        }

        label > input[type="checkbox"][aria-invalid="true"]:not(:disabled, [aria-disabled="true"], [role="switch"]):hover {
            border-color: rgb(var(--rgb-error));
        }
    }

    label > input[type="checkbox"]:not([role="switch"]):is(:checked, :indeterminate) {
        border-color: var(--color-emphasis);
        background-color: var(--color-emphasis);
    }

    label > input[type="checkbox"][aria-invalid="true"]:not([role="switch"]):is(:checked, :indeterminate) {
        border-color: rgb(var(--rgb-error));
        background-color: rgb(var(--rgb-error));
    }

    label > input[type="checkbox"]:not([role="switch"]):is(:checked, :indeterminate):is(:disabled, [aria-disabled="true"]) {
        border-color: rgb(var(--rgb-light-gray));
        background-color: rgb(var(--rgb-light-gray));
    }

    @media (hover: hover) {
        label > input[type="checkbox"]:not([role="switch"]):is(:checked, :indeterminate):not(:disabled, [aria-disabled="true"]):hover {
            border-color: var(--color-emphasis-hover);
            background-color: var(--color-emphasis-hover);
        }

        label > input[type="checkbox"][aria-invalid="true"]:not([role="switch"]):is(:checked, :indeterminate):not(:disabled, [aria-disabled="true"]):hover {
            border-color: rgb(var(--rgb-error));
            background-color: rgb(var(--rgb-error));
        }
    }

    label > input[type="checkbox"]:not([role="switch"])::before {
        display: none;
        position: absolute;
        inset: 0;
        margin: auto;
        width: calc(14 / 16 * 1rem);
        height: calc(14 / 16 * 1rem);
        background-color: rgb(var(--rgb-white));
        transform: scale(calc((var(--checkbox-input-size) - 2 * var(--checkbox-border-width)) / (14 / 16 * 1rem)));
        content: "";
    }

    label > input[type="checkbox"]:not([role="switch"]):checked::before {
        display: block;
        clip-path: path(
            "M5.6,11.2L12.65,4.15L11.25,2.75L5.6,8.4L2.75,5.55L1.35,6.95L5.6,11.2Z"
        );
    }

    label > input[type="checkbox"]:not([role="switch"]):indeterminate::before {
        display: block;
        clip-path: path("M2,6h10v2H2Z");
    }

    @media (forced-colors: active) {
        label > input[type="checkbox"]:not([role="switch"]) {
            border-color: ButtonText;
        }

        label > input[type="checkbox"]:not([role="switch"]):is(:disabled, [aria-disabled="true"]) {
            border-color: GrayText;
        }

        label > input[type="checkbox"]:not([role="switch"]):is(:checked, :indeterminate) {
            border-color: Highlight;
            background-color: Highlight;
        }

        label > input[type="checkbox"]:not([role="switch"]):is(:checked, :indeterminate):is(:disabled, [aria-disabled="true"]) {
            border-color: GrayText;
            background-color: GrayText;
        }

        label > input[type="checkbox"]:not([role="switch"])::before {
            background-color: HighlightText;
        }

        label > input[type="checkbox"]:not([role="switch"]):is(:disabled, [aria-disabled="true"])::before {
            background-color: Canvas;
        }
    }

}
