@layer css.data_style {

    /* === fill style === */

    *[data-style="fill"],
    *:where(button, output):not([data-style]) {
        appearance:       none;
        background-color: var(--color-emphasis-ink);
        border-color:     transparent;
        border-style:     solid;
        color:            var(--color-paper);
    }

    /* === outline style === */

    *[data-style="outline"] {
        appearance:       none;
        background-color: var(--color-paper);
        border-color:     var(--color-emphasis-ink);
        border-style:     solid;
        color:            var(--color-emphasis-ink);
        vertical-align:   middle;
        width:            auto;
    }

    /* === input style: input.css === */

    /* === underline style === */

    *[data-style="underline"],
    *:where(summary, a):not([data-style]) {
        background-color:          var(--color-paper);
        border:                    none;
        box-decoration-break:      clone;
        color:                     var(--color-emphasis-ink);
        text-decoration-color:     currentColor;
        text-decoration-line:      underline;
        text-decoration-thickness: 0.0625rem;
        text-underline-offset:     0.3em;
    }

    /*  === transparent style === */

    *[data-style="transparent"] {
        appearance:       none;
        background-color: transparent;
        border-color:     transparent;
        border-style:     solid;
        color:            inherit;
        vertical-align:   middle;
        width:            auto;
    }

    /* === common focus style === */

    *:where(
        a,
        button,
        summary,
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        select,
        textarea
    ) {
        position: relative; /* for :focus-visible {z-index:1} */
    }

    *:where(
        a,
        button,
        summary,
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        select,
        textarea
    ):focus-visible {
        outline-offset: 0;
        outline-style:  solid;
        outline-width:  0.25rem;
        z-index:        1;
    }
}
