@layer css.data_sign {

    /* === sign, facet === */

    *:where(
        *[data-sign],
        *[data-facet],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    ) {
        position: relative;
    }

    /* === hatch === */

    *[data-sign="hatch"]::before {
        content: "";
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background-image: repeating-linear-gradient(
            -45deg,
            currentcolor 0,
            currentcolor 0.125rem,
            transparent 0.125rem,
            transparent 0.25rem
        );
    }

    /*  === close (x) === */

    [data-sign="close"]::before,
    [data-sign="close"]::after {
        background-color: currentColor;
        block-size:        0.125em;
        content:           "";
        inline-size:       0.75em;
        inset:             0;
        margin:            auto;
        position:          absolute;
    }
    [data-sign="close"]::before {
        rotate: 45deg;
    }
    [data-sign="close"]::after {
        rotate: -45deg;
    }

    /* === chevron === */

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )::after {
        border-color: cuurentColor;
        border-style: solid;
        border-top-width: 0;
        border-left-width: 0;
        border-bottom-width:  var(--md-border-width);
        border-right-width:   var(--md-border-width);
        content:        "";
        inset-block:    0;
        margin-block:   auto;
        pointer-events: none;
        position:       absolute;
        z-index:        2;
    }

    /* --- size --- */

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )[data-size="xs"]::after {
        block-size:          calc(var(--xs-font-size) * 0.75 * 1.06);
        border-bottom-width: var(--xs-border-width);
        border-right-width:  var(--xs-border-width);
        inline-size:         calc(var(--xs-font-size) * 0.75 * 1.06);
        inset-inline-end:    var(--xs-border-radius);
        transform:           translateY(-0.125rem) rotate(45deg);
    }
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    )[data-size="xs"]::after {
        transform: translateY(calc(2 / 16 * 1rem)) rotate(225deg);
    }

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )[data-size="sm"]::after {
        block-size:          calc(var(--sm-font-size) * 0.75 * 1.06);
        border-bottom-width: var(--sm-border-width);
        border-right-width:  var(--sm-border-width);
        inline-size:         calc(var(--sm-font-size) * 0.75 * 1.06);
        inset-inline-end:    var(--sm-border-radius);
        transform:           translateY(-0.125rem) rotate(45deg);
    }
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    )[data-size="sm"]::after {
        transform: translateY(calc(2 / 16 * 1rem)) rotate(225deg);
    }

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    ):where(
        *[data-size="md"],
        *:not([data-size]),
    )::after {
        block-size:         calc(var(--md-font-size) * 0.75 * 1.06);
        inline-size:        calc(var(--md-font-size) * 0.75 * 1.06);
        inset-inline-end:   var(--md-border-radius);
        transform:          translateY(-0.1875rem) rotate(45deg);
    }
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    ):where(
        *[data-size="md"],
        *:not([data-size]),
    )::after {
        transform: translateY(calc(3 / 16 * 1rem)) rotate(225deg);
    }

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )[data-size="lg"]::after {
        block-size:          calc(var(--lg-font-size) * 0.6 * 1.06);
        border-bottom-width: var(--lg-border-width);
        border-right-width:  var(--lg-border-width);
        inline-size:         calc(var(--lg-font-size) * 0.6 * 1.06);
        inset-inline-end:    var(--lg-border-radius);
        transform:           translateY(-0.125rem) rotate(45deg);
    }
    
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    )[data-size="lg"]::after {
        transform: translateY(calc(2 / 16 * 1rem)) rotate(225deg);
    }

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )[data-size="xl"]::after {
        block-size:          calc(var(--xl-font-size) * 0.6 * 1.06);
        border-bottom-width: var(--xl-border-width);
        border-right-width:  var(--xl-border-width);
        inline-size:         calc(var(--xl-font-size) * 0.6 * 1.06);
        inset-inline-end:    var(--xl-border-radius);
        transform:           translateY(-0.1875rem) rotate(45deg);
    }
    
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    )[data-size="xl"]::after {
        transform: translateY(calc(3 / 16 * 1rem)) rotate(225deg);
    }

    *:where(
        *[data-facet="chevron"],
        summary:not([data-facet]),
        button[aria-haspopup="listbox"]:not([data-facet]),
    )[data-size="2xl"]::after {
        block-size:          calc(var(--2xl-font-size) * 0.6 * 1.06);
        border-bottom-width: var(--2xl-border-width);
        border-right-width:  var(--2xl-border-width);
        inline-size:         calc(var(--2xl-font-size) * 0.6 * 1.06);
        inset-inline-end:    var(--2xl-border-radius);
        transform:           translateY(-0.25rem) rotate(45deg);
    }
    
    *:where(
        *[data-facet="chevron"][aria-expanded="true"],
        details[open] > summary:not([data-facet]),
        [role="listbox"]:popover-open + button[aria-haspopup="listbox"]:not([data-facet]),
        label[data-facet="chevron"]:has(> select:open),
    )[data-size="2xl"]::after {
        transform: translateY(calc(4 / 16 * 1rem)) rotate(225deg);
    }
}
