@layer css.data_style {

    /* === common for elements focusable === */

    *:where(
        a,
        button,
        summary,
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        select,
        textarea
    ) {
        position: relative; /* for :focus-visible {z-index:1} */
    }

    *:where(
        a,
        button,
        summary,
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        select,
        textarea
    ):focus-visible {
        outline-color:  var(--color-focus);
        outline-offset: 0;
        outline-style:  solid;
        outline-width:  0.25rem;
        z-index:        1;
    }

    /* === surround fill style === */

    *[data-style="fill"],
    *:where(button, output):not([data-style]) {
        appearance:       none;
        background-color: var(--color-emphasis-fill);
        border-color:     transparent;
        border-style:     solid;
        color:            var(--color-paper);
        margin:           0;
    }

    @media (prefers-color-scheme: dark) {
        *[data-style="fill"],
        *:where(button, output):not([data-style]) {
            color: var(--color-ink);
        }
    }

    /* === surround outline style === */

    *[data-style="outline"] {
        appearance:       none;
        background-color: transparent;
        border-color:     var(--color-emphasis);
        border-style:     solid;
        color:            var(--color-emphasis);
        margin:           0;
        vertical-align:   middle;
        width:            auto;
    }

    /* === surround input style: input.css === */

    /* === underline style === */

    *[data-style="underline"],
    *:where(summary, a):not([data-style]) {
        background-color:          var(--color-paper);
        border:                    none;
        box-decoration-break:      clone;
        color:                     var(--color-emphasis);
        margin:                    0;
        text-decoration-color:     currentColor;
        text-decoration-line:      underline;
        text-decoration-thickness: 0.0625rem;
        text-underline-offset:     0.3em;
    }

    /* === icon style === */

    *[data-style="icon"] {
        align-items: center;
        all:         unset;
        block-size:  1em;
        cursor:      pointer;
        font:        inherit;
        inline-size: 1em;
        position:    relative;
    }

    /* --- focus --- */

    *[data-style="icon"]:focus-visible {

    }

    @media (forced-colors: active) {
        *[data-style="icon"]:focus-visible {
            outline-color: Highlight;
        }
    }

    /* --- hover --- */

    @media (hover: hover) {

    }

    /* === rule indent style: indent block with emphasis rule === */

    *[data-style="rule-indent"] {
        padding-inline-start: 1.5rem;
        position:             relative;
    }
    *[data-style="rule-indent"]::before {
        background-color:   var(--color-emphasis);
        content:            "";
        inset-block:        0;
        inset-inline-start: 0;
        position:           absolute;
        width:              0.5rem;
    }
    @media (forced-colors: active) {
        *[data-style="rule-indent"]::before {
            background-color: CanvasText;
        }
    }

    /* --- size --- */

    *[data-style="rule-indent"][data-size="xs"]::before {
        inset-block: calc((var(--xs-box-height) - var(--xs-line-height)) / 2);
    }
    *[data-style="rule-indent"][data-size="sm"]::before {
        inset-block: calc((var(--sm-box-height) - var(--sm-line-height)) / 2);
    }
    *[data-style="rule-indent"][data-size="md"]::before {
        inset-block: calc((var(--md-box-height) - var(--md-line-height)) / 2);
    }
    *[data-style="rule-indent"][data-size="lg"]::before {
        inset-block: calc((var(--lg-box-height) - var(--lg-line-height)) / 2);
    }
    *[data-style="rule-indent"][data-size="xl"]::before {
        inset-block: calc((var(--xl-box-height) - var(--xl-line-height)) / 2);
    }
    *[data-style="rule-indent"][data-size="2xl"]::before {
        inset-block: calc((var(--2xl-box-height) - var(--2xl-line-height)) / 2);
    }

}
