/* Reference: https://github.com/yuto-hasegawa/sashimi-ui/blob/main/src/css/key-value.css
 * 
*/
.css-description-list:where(dl) {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
    list-style: none;
    overflow-wrap: anywhere;
}

.css-description-list:where(dl) dd {
    margin: 0;
    justify-self: end;
}
