/* Disclosure: interactive headings that function as controls that enable users to reveal or hide their contents */

/* <details>
        <summary></summary>
        {block}</details> */

@layer css.components {

    details > summary {
        --color-wash-hover: rgb(var(--rgb-ink) / var(--alpha-highlight-weak));
        --color-wash-active: rgb(var(--rgb-ink) / var(--alpha-highlight-strong));
        color: var(--color-ink);
        cursor: pointer;
        display: inline-block;
        font-family: var(--font-family-sans);
        font-weight: normal;
        list-style: none;
        padding-right: 0;
        padding-left: 2.25rem;
        position: relative;
    }

    details:not([data-type]) > summary,
    details[data-type="rule"] > summary {
        display: block;
        border-bottom: 1px solid var(--color-border);
    }

    details[data-type="fill"] > summary,
    details[data-type="outline"] > summary {
        padding-right: 1rem;
    }

    details[data-type="fill"] > summary {
        background-color: var(--color-emphasis-fill);
        color: rgb(var(--rgb-white));
    }

    @media (hover: hover) {
        details[data-type="fill"] > summary:hover {
            background-color: var(--color-emphasis-fill-hover);
        }
    }

    details[open][data-type="fill"] > summary {
        background-color: var(--color-emphasis-fill-active);
    }

    details[data-type="outline"] > summary {
        border: 1px solid currentcolor;
        background-color: var(--color-background);
        color: var(--color-emphasis);
    }

    @media (hover: hover) {
        details[data-type="outline"] > summary:hover {
            background-color: var(--color-wash-hover);
        }
    }

    details[open][data-type="outline"] > summary {
        background-color: var(--color-wash-active);
    }

    details[data-size="2xl"] > summary {
        font-size: var(--2xl-font-size);
        letter-spacing: var(--2xl-letter-spacing);
        line-height: var(--2xl-line-height);
        padding-block: calc((var(--2xl-box-height) - var(--2xl-line-height)) / 2);
    }
    details[data-size="xl"] > summary {
        font-size: var(--xl-font-size);
        letter-spacing: var(--xl-letter-spacing);
        line-height: var(--xl-line-height);
        padding-block: calc((var(--xl-box-height) - var(--xl-line-height)) / 2);
    }
    details[data-size="lg"] > summary {
        font-size: var(--lg-font-size);
        letter-spacing: var(--lg-letter-spacing);
        line-height: var(--lg-line-height);
        padding-block: calc((var(--lg-box-height) - var(--lg-line-height)) / 2);
    }
    details:not([data-size]) > summary,
    details[data-size="md"] > summary {
        font-size: var(--md-font-size);
        letter-spacing: var(--md-letter-spacing);
        line-height: var(--md-line-height);
        padding-block: calc((var(--md-box-height) - var(--md-line-height)) / 2);
    }
    details[data-size="sm"] > summary {
        font-size: var(--sm-font-size);
        letter-spacing: var(--sm-letter-spacing);
        line-height: var(--sm-line-height);
        padding-block: calc((var(--sm-box-height) - var(--sm-line-height)) / 2);
    }
    details[data-size="xs"] > summary {
        font-size: var(--xs-font-size);
        letter-spacing: var(--xs-letter-spacing);
        line-height: var(--xs-line-height);
        padding-block: calc((var(--xs-box-height) - var(--xs-line-height)) / 2);
    }

    details[data-size="2xl"][data-type="fill"] > summary,
    details[data-size="2xl"][data-type="outline"] > summary,
    details[data-size="xl"][data-type="fill"] > summary,
    details[data-size="xl"][data-type="outline"] > summary,
    details[data-size="lg"][data-type="fill"] > summary,
    details[data-size="lg"][data-type="outline"] > summary,
    details:not([data-size])[data-type="fill"] > summary,
    details:not([data-size])[data-type="outline"] > summary,
    details[data-size="md"][data-type="fill"] > summary,
    details[data-size="md"][data-type="outline"] > summary {
        border-radius: 0.5rem;
    }
    details[data-size="sm"][data-type="fill"] > summary,
    details[data-size="sm"][data-type="outline"] > summary {
        border-radius: 0.375rem;
    }
    details[data-size="xs"][data-type="fill"] > summary,
    details[data-size="xs"][data-type="outline"] > summary {
        border-radius: 0.25rem;
    }

    details > summary::before {
        bottom: 0;
        border-right: 0.125rem solid currentcolor;
        border-bottom: 0.125rem solid currentcolor;
        color: var(--color-emphasis);
        content: "";
        display: inline block;
        height: 0.625rem;
        left: calc((2.25rem - 0.625rem) / 2);
        margin: auto 0;
        position: absolute;
        top: 0;
        transform: translateY(-0.125rem) rotate(45deg);
        width:  0.625rem;
    }

    details[open] > summary::before {
        transform: translateY(0.125rem) rotate(225deg);
    }

    details[data-type="fill"] > summary::before {
        color: rgb(var(--rgb-white));
    }

    details > summary:focus-visible {
        outline: none;
        box-shadow:
            inset 0 0 0 0.125rem var(--color-border),
            inset 0 0 0 0.375rem var(--color-focus);
    }

    details:not([data-type]) > summary:focus-visible,
    details[data-type="rule"] > summary:focus-visible {
        border-radius: 0.25rem;
        background-color: var(--color-focus);
    }

    @media (hover: hover) {
        details:not([data-type]) > summary:hover:not(:focus-visible),
        details[data-type="rule"] > summary:hover:not(:focus-visible) {
            background-color: var(--color-muted);
        }
    }
}
