/* Disclosure: interactive headings that function as controls that enable users to reveal or hide their contents */

/* <details>
        <summary>
            <h2>disclosure heading</h2></summary>
        <p>これはダミーテキストです。ダミーテキストは、デザインやレイアウトの作成時に使用される仮の文章です。</p>
    </details> */

@layer css.components {

    details {
        --icon-size: calc(20 / 16 * 1rem);
        border-bottom: 1px solid var(--color-border);
    }

    @media (min-width: 48rem) {
        details {
            --icon-size: 2rem;
        }
    }

    details > summary {
        position: relative;
        display: block;
        padding: 0.5rem 0.5rem 0.5rem
            calc(var(--icon-size) + 0.75rem);
        color: var(--color-ink);
        font-weight: normal;
        font-size: 1rem;
        line-height: 1.7;
        font-family: var(--font-family-sans);
        letter-spacing: 0.02em;
        cursor: default;
    }

    details > summary::marker {
        content: "";
    }

    details > summary::-webkit-details-marker {
        display: none;
    }

    @media (min-width: 48rem) {
        details > summary {
            padding: 1rem 1rem 1rem
                calc(var(--icon-size) + calc(20 / 16 * 1rem));
            font-size: calc(18 / 16 * 1rem);
            line-height: 1.6;
        }
    }

    @media (hover: hover) {
        details > summary:hover:not(:focus-visible) {
            background-color: var(--color-muted);
        }
    }

    details > summary:focus-visible {
        outline: 0.25rem solid var(--color-border);
        outline-offset: 0.125rem;
        border-radius: 0.25rem;
        background-color: var(--color-focus);
        box-shadow: 0 0 0 0.125rem var(--color-focus);
    }

    details > summary::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0.125rem;
        bottom: 0;
        margin: auto 0;
        display: inline-block;
        box-sizing: border-box;
        width: calc(10 / 16 * 1rem);
        height: calc(10 / 16 * 1rem);
        border-right: 0.125rem solid currentcolor;
        border-bottom: 0.125rem solid currentcolor;
        color: var(--color-emphasis);
        transform: translateY(calc(-2 / 16 * 1rem)) rotate(45deg);
    }

    @media (min-width: 48rem) {
        details > summary::before {
            left: calc(6 / 16 * 1rem);
        }
    }

    details[open] > summary::before {
        transform: translateY(calc(2 / 16 * 1rem)) rotate(225deg);
    }

}
