.css-divider {
  margin: 0;
  border: 0;
  border-top: 1px solid;
  opacity: 1;
}

.css-divider[data-color="solid-gray-420"] {
  border-top-color: rgb(var(--rgb-light-gray));
}

.css-divider[data-color="solid-gray-536"] {
  border-top-color: rgb(var(--rgb-gray));
}

.css-divider[data-color="black"] {
  border-top-color: rgb(var(--rgb-black));
}

.css-divider[css-type="solid"] {
  border-top-style: solid;
}

.css-divider[css-type="dashed"] {
  border-top-style: dashed;
}

.css-divider[data-width="1"] {
  border-top-width: 1px;
}

.css-divider[data-width="2"] {
  border-top-width: 2px;
}

.css-divider[data-width="3"] {
  border-top-width: 3px;
}

.css-divider[data-width="4"] {
  border-top-width: 4px;
}
