.css-field-label {
  display: block;
  margin: 0 0 0.5rem 0;
  padding: 0;
  color: rgb(var(--rgb-ink));
  font-weight: bold;
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
}

.css-field-requirement {
  margin-left: calc(4 / 16 * 1rem);
  font-weight: normal;
  color: var(--color-emphasis);
  font-size: var(--css-typography-text-normal-2-font-size);
}

.css-field-support {
  display: block;
  margin: 0 0 0.5rem 0;
  color: var(--color-muted);
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
}

.css-field-error {
  display: block;
  margin: 0.5rem 0 0 0;
  color: rgb(var(--rgb-error));
  font-size: var(--css-typography-text-tight-3-font-size);
  line-height: var(--css-typography-text-tight-3-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-tight-3-letter-spacing);
}
