.css-field-label {
  display: block;
  margin: 0 0 calc(8 / 16 * 1rem) 0;
  padding: 0;
  color: rgb(var(--rgb-ink));
  font-weight: bold;
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
}

.css-field-requirement {
  margin-left: calc(4 / 16 * 1rem);
  font-weight: normal;
  font-size: var(--css-typography-text-normal-2-font-size);
}

.css-field-requirement[css-required] {
  color: rgb(var(--rgb-accent-red));
}

.css-field-requirement::before {
  content: " ";
}

.css-field-status {
  margin-left: calc(4 / 16 * 1rem);
  display: inline-block;
  outline: 1px solid transparent;
  border-radius: calc(8 / 16 * 1rem);
  background-color: rgb(var(--rgb-gray));
  padding: calc(8 / 16 * 1rem);
  color: rgb(var(--rgb-white));
  font-weight: normal;
  font-size: var(--css-typography-text-flush-2-font-size);
  line-height: var(--css-typography-text-flush-2-line-height);
  letter-spacing: var(--css-typography-text-flush-2-letter-spacing);
}

.css-field-support {
  display: block;
  margin: 0 0 calc(8 / 16 * 1rem) 0;
  color: rgb(var(--rgb-gray));
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
}

.css-field-error {
  display: block;
  margin: calc(8 / 16 * 1rem) 0 0 0;
  color: rgb(var(--rgb-accent-red));
  font-size: var(--css-typography-text-tight-3-font-size);
  line-height: var(--css-typography-text-tight-3-line-height);
  font-family: var(--font-family-sans);
  letter-spacing: var(--css-typography-text-tight-3-letter-spacing);
}
