.dads-h {
  margin: 0;
  color: var(--color-neutral-solid-gray-800);
  font-family: var(--font-family-sans);
}

.dads-h[dads-size="display-1"],
hgroup[dads-size="display-1"] .dads-h {
  --_shoulder-size: var(--css-typography-heading-4-font-size);
  --_shoulder-line-height: var(--css-typography-heading-4-line-height);
  --_shoulder-letter-spacing: var(--css-typography-heading-4-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-display-1-font-size);
  line-height: var(--css-typography-display-1-line-height);
  letter-spacing: var(--css-typography-display-1-letter-spacing);
}

.dads-h[dads-size="display-2"],
hgroup[dads-size="display-2"] .dads-h {
  --_shoulder-size: var(--css-typography-heading-6-font-size);
  --_shoulder-line-height: var(--css-typography-heading-6-line-height);
  --_shoulder-letter-spacing: var(--css-typography-heading-6-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-display-2-font-size);
  line-height: var(--css-typography-display-2-line-height);
  letter-spacing: var(--css-typography-display-2-letter-spacing);
}

.dads-h[dads-size="heading-1"],
hgroup[dads-size="heading-1"] .dads-h {
  --_shoulder-size: var(--css-typography-heading-7-font-size);
  --_shoulder-line-height: var(--css-typography-heading-7-line-height);
  --_shoulder-letter-spacing: var(--css-typography-heading-7-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-1-font-size);
  line-height: var(--css-typography-heading-1-line-height);
  letter-spacing: var(--css-typography-heading-1-letter-spacing);
}

.dads-h[dads-size="heading-2"],
hgroup[dads-size="heading-2"] .dads-h {
  --_shoulder-size: var(--css-typography-heading-8-font-size);
  --_shoulder-line-height: var(--css-typography-heading-8-line-height);
  --_shoulder-letter-spacing: var(--css-typography-heading-8-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-2-font-size);
  line-height: var(--css-typography-heading-2-line-height);
  letter-spacing: var(--css-typography-heading-2-letter-spacing);
}

.dads-h[dads-size="heading-3"],
hgroup[dads-size="heading-3"] .dads-h {
  --_shoulder-size: var(--css-typography-heading-9-font-size);
  --_shoulder-line-height: var(--css-typography-heading-9-line-height);
  --_shoulder-letter-spacing: var(--css-typography-heading-9-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-3-font-size);
  line-height: var(--css-typography-heading-3-line-height);
  letter-spacing: var(--css-typography-heading-3-letter-spacing);
}

.dads-h[dads-size="heading-4"],
hgroup[dads-size="heading-4"] .dads-h {
  --_shoulder-size: var(--css-typography-text-normal-2-font-size);
  --_shoulder-line-height: var(--css-typography-text-normal-2-line-height);
  --_shoulder-letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-4-font-size);
  line-height: var(--css-typography-heading-4-line-height);
  letter-spacing: var(--css-typography-heading-4-letter-spacing);
}

.dads-h[dads-size="heading-6"],
hgroup[dads-size="heading-6"] .dads-h {
  --_shoulder-size: var(--css-typography-text-normal-2-font-size);
  --_shoulder-line-height: var(--css-typography-text-normal-2-line-height);
  --_shoulder-letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-6-font-size);
  line-height: var(--css-typography-heading-6-line-height);
  letter-spacing: var(--css-typography-heading-6-letter-spacing);
}

.dads-h[dads-size="heading-8"],
hgroup[dads-size="heading-8"] .dads-h {
  --_shoulder-size: var(--css-typography-text-normal-2-font-size);
  --_shoulder-line-height: var(--css-typography-text-normal-2-line-height);
  --_shoulder-letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-8-font-size);
  line-height: var(--css-typography-heading-8-line-height);
  letter-spacing: var(--css-typography-heading-8-letter-spacing);
}

.dads-h[dads-size="heading-9"],
hgroup[dads-size="heading-9"] .dads-h {
  --_shoulder-size: var(--css-typography-text-normal-2-font-size);
  --_shoulder-line-height: var(--css-typography-text-normal-2-line-height);
  --_shoulder-letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-heading-9-font-size);
  line-height: var(--css-typography-heading-9-line-height);
  letter-spacing: var(--css-typography-heading-9-letter-spacing);
}

.dads-h[dads-size="text-normal-2"],
hgroup[dads-size="text-normal-2"] .dads-h {
  --_shoulder-size: var(--css-typography-text-normal-2-font-size);
  --_shoulder-line-height: var(--css-typography-text-normal-2-line-height);
  --_shoulder-letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
  font-weight: bold;
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
  letter-spacing: var(--css-typography-text-normal-2-letter-spacing);
}

.dads-h[data-chip],
hgroup[data-chip] .dads-h {
  position: relative;
  padding-left: calc(1em / 3 + 0.5em);
}

.dads-h[data-chip]::before,
hgroup[data-chip] .dads-h::before {
  position: absolute;
  top: 0.2em;
  bottom: 0.1em;
  left: 0;
  width: calc(1em / 3);
  background-color: var(--color-primitive-blue-900);
  content: "";
}

@supports (top: 1lh) {
  .dads-h[data-chip]::before,
  hgroup[data-chip] .dads-h::before {
    top: calc(0.5lh - 0.45em);
    bottom: calc(0.5lh - 0.55em);
  }
}

hgroup[data-chip]:has(.dads-h-shoulder) .dads-h::before {
  top: calc((var(--_shoulder-size) * (var(--_shoulder-line-height) - 1)) / 2);
}

@media (forced-colors: active) {
  .dads-h[data-chip]::before,
  hgroup[data-chip] .dads-h::before {
    background-color: CanvasText;
  }
}

.dads-h[data-rule],
hgroup[data-rule] .dads-h {
  border-bottom: solid var(--color-primitive-blue-900);
}

.dads-h[data-rule="8"],
hgroup[data-rule="8"] .dads-h {
  border-bottom-width: calc(8 / 16 * 1rem);
  padding-bottom: calc(32 / 16 * 1rem);
}

.dads-h[data-rule="6"],
hgroup[data-rule="6"] .dads-h {
  border-bottom-width: calc(6 / 16 * 1rem);
  padding-bottom: calc(24 / 16 * 1rem);
}

.dads-h[data-rule="4"],
hgroup[data-rule="4"] .dads-h {
  border-bottom-width: calc(4 / 16 * 1rem);
  padding-bottom: calc(16 / 16 * 1rem);
}

.dads-h[data-rule="2"],
hgroup[data-rule="2"] .dads-h {
  border-bottom-width: calc(2 / 16 * 1rem);
  padding-bottom: calc(8 / 16 * 1rem);
}

.dads-h-shoulder {
  margin: 0;
  color: var(--color-neutral-solid-gray-800);
  font-family: var(--font-family-sans);
  font-weight: bold;
  font-size: var(--_shoulder-size);
  line-height: var(--_shoulder-line-height);
  letter-spacing: var(--_shoulder-letter-spacing);
}
