@layer css.components {

    hr {
        margin: 0;
        border: 0;
        border-top: 1px solid var(--color-emphasis);
        opacity: 1;
    }

    hr[data-type="dashed"] {
        border-top-style: dashed;
    }

    hr[data-width="1"] {
        border-top-width: 1px;
    }

    hr[data-width="2"] {
        border-top-width: 2px;
    }

    hr[data-width="3"] {
        border-top-width: 3px;
    }

    hr[data-width="4"] {
        border-top-width: 4px;
    }

}
