@layer css.components {

    [icon-type] {
        --size: 1rem;
        --stripe: 2px;
        --gap: 3px;
        align-items: center;
    }

    [icon-type]::before {
        position: relative;
        margin-right: 0.5rem;
    }

    [icon-type="hatch"]::before {
        content: "";
        display: inline-block;
        width: var(--size);
        height: var(--size);
        background-image: repeating-linear-gradient(
            -45deg,
            currentcolor 0,
            currentcolor var(--stripe),
            transparent var(--stripe),
            transparent calc(var(--stripe) + var(--gap))
        );
    }

}
