/*
    Usage:

    <input type="text|email|password|search|url|tel"></input>
    
    <select>
        <option></option></select>
        
    <label>
        <select data-facet="chevron">
            <option></option></select></label>

    <textarea></textarea>
*/

@layer css.input {
    *:where(
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        select,
        textarea
    ) {
        field-sizing:     content;
        max-inline-size:  100%;
        min-inline-size:  7ch; /* per https://developer.chrome.com/docs/css-ui/css-field-sizing */
    }

    *:where(
        input:is(
            [type="text"],
            [type="email"],
            [type="password"],
            [type="search"],
            [type="url"],
            [type="tel"]
        ),
        textarea
    ) {
        caret-color: var(--color-ink-mix);
        cursor:      text;
    }
    
    *:where(input[inputmode="numeric"]) {
        text-align: right;
    }

    select:not([data-facet]) {
        appearance: auto;
    }

    /* --- size --- */

    label > select[data-facet="chevron"][data-size="xs"] {
        padding-inline-end: calc(var(--xs-box-height) * 0.75);
    }
    label > select[data-facet="chevron"][data-size="sm"] {
        padding-inline-end: calc(var(--sm-box-height) * 0.6);
    }
    label > select[data-facet="chevron"]:where(
        [data-size="md"],
        :not([data-size])
    ) {
        padding-inline-end: calc(var(--md-box-height) * 0.6);
    }
    label > select[data-facet="chevron"][data-size="lg"] {
        padding-inline-end: calc(var(--lg-box-height) * 0.6);
    }
    label > select[data-facet="chevron"][data-size="xl"] {
        padding-inline-end: calc(var(--xl-box-height) * 0.6);
    }
    label > select[data-facet="chevron"][data-size="2xl"] {
        padding-inline-end: calc(var(--2xl-box-height) * 0.6);
    }
}