.css-link:any-link {
  color: var(--color-emphasis);
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

.css-link:visited {
  color: rgb(var(--rgb-accent-purple));
}

@media (hover: hover) {
  .css-link:hover {
    color: var(--color-emphasis-hover);
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.css-link:active {
  color: rgb(var(--rgb-accent-orange));
  text-decoration-thickness: calc(1 / 16 * 1rem);
}

.css-link:focus-visible {
  outline: 0.125rem solid rgb(var(--rgb-border));
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  background-color: rgb(var(--rgb-focus));
  box-shadow: 0 0 0 0.125rem rgb(var(--rgb-focus));
}

.css-link__icon {
  flex-shrink: 0;
  vertical-align: -0.15em;
  margin-left: 0.25rem;
}
