.css-link:any-link {
  color: var(--color-emphasis);
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

.css-link:visited {
  color: rgb(var(--rgb-accent-purple));
}

@media (hover: hover) {
  .css-link:hover {
    color: var(--color-emphasis-hover);
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.css-link:active {
  color: rgb(var(--rgb-accent-orange));
  text-decoration-thickness: calc(1 / 16 * 1rem);
}

.css-link:focus-visible {
  outline: calc(4 / 16 * 1rem) solid rgb(var(--rgb-border));
  outline-offset: calc(2 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
  background-color: rgb(var(--rgb-accent-yellow));
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) rgb(var(--rgb-accent-yellow));
}

