/* Usage:

    <button id="" type="button" popovertarget="" aria-haspopup="listbox">
    <ul id="" popover="auto" role="listbox" aria-labelledby="">
        <li role="presentation"></li>
        <li role="option" aria-selected="true">
            <input type="checkbox | radio" data-sign="check" checked>
            <span></span></li>
        <li role="option">
            <button></button></li></ul>

    #button {anchor-name: --button;}
    #ul {position-anchor: --button;}
*/

@layer css.list-box {

    /* === color, layout === */

    button[aria-haspopup="listbox"] {
        background-color: transparent;
        border-color:     var(--color-mute);
        border-style:     solid;
        color:            var(--color-ink);
        cursor:           pointer;
        display:          inline flow-root;
        font:             inherit;
    }

    *[role="listbox"] {
        background-color:       var(--color-paper);
        border-color:           var(--color-mute);
        border-style:           solid;
        border-width:           var(--md-border-width);
        border-radius:          var(--md-border-radius);
        color:                  var(--color-ink);
        list-style-type:        none;
        margin-block:           0.25rem;
        max-height:             calc(var(--md-border-width) * 0.2 + var(--md-box-height) * 6.5);
        overflow-y:             auto;
        padding-inline:         0.25rem; /* for scrollbar width and symmetory */
        position-area:          block-end span-inline-start;
        position-try-fallbacks: flip-block, flip-inline, flip-block flip-inline;
        width:                  max-content;
    }

    *[role="listbox"] *:where(
        *[role="presentation"],
        *[role="option"]
    ) {
        color:          inherit;
        cursor:         default;
        font:           inherit;
        letter-spacing: inherit;
        width:          100%;
    }

    *[role="listbox"] *[role="option"] input[data-sign="check"] {
        margin-inline-end: 0.5rem;
        vertical-align:    middle;
    }

    *[role="listbox"] *[role="option"] button {
        all: unset;
    }

    /* === size === */

    /* === focus === */

    *[role="listbox"] *[role="option"]:has(*:where(button, input):focus-visible) {
        background-color: var(--color-focus);
        color:            rgb(var(--rgb-black));
        outline-color:    var(--color-paper);
        outline-offset:   calc(var(--md-border-width) * -1);
        outline-style:    solid;
        outline-width:    var(--md-border-width);
        position:         relative;
        z-index:          1;
    }

    @media (forced-colors: active) {
        *[role="listbox"] *[role="option"]:has(*:where(button, input):focus-visible) {
            outline-color: Highlight;
        }
    }

    /* === hover === */

    @media (hover: hover) {
        button[aria-haspopup="listbox"]:hover {
            background-color:      rgb(var(--rgb-light-gray) / 0.3);
            border-color:          var(--color-ink);
            text-decoration:       underline;
            text-underline-offset: calc(3 / 16 * 1rem);
        }

        *[role="listbox"] *[role="option"]:hover {
            background-color: rgb(var(--rgb-light-gray) / 0.3);
        }
    }

    /* === disabled === */

    button[aria-haspopup="listbox"]:where(
        :disabled,
        [aria-disabled="true"]
    ) {
        border-color:   var(--color-mute);
        color:          var(--color-mute);
        cursor:         not-allowed;
        pointer-events: none;
    }

    *[role="listbox"] *[role="option"] *:where(button, input):is(
        :disabled,
        [aria-disabled="true"]
    ) {
        color:          var(--color-mute);
        cursor:         not-allowed;
        pointer-events: none;
    }

    @media (forced-colors: active) {
        button[aria-haspopup="listbox"] {
            background-color: ButtonFace;
            border-color:     ButtonBorder;
            color:            ButtonText;
        }
        button[aria-haspopup="listbox"]:where(
            :disabled,
            [aria-disabled="true"]
        ) {
            border-color: GrayText;
            color:        GrayText;
        }

        *[role="listbox"] {
            background-color: Canvas;
            border-color:     ButtonBorder;
            color:            CanvasText;
        }
        *[role="listbox"] *[role="option"] *:where(button, input):is(
            :disabled,
            [aria-disabled="true"]
        ) {
            color: GrayText;
        }
    }
}
