/* radio: input widget that allows users to choose one of several values. */

/*  <label>
        <span>inline</span>
        <input type="radio"></label> */

@layer css.radio {

    label:has(> input[type="radio"]),
    label:has(> input[type="radio"]) > * {
        vertical-align: middle;
    }

    label > input[type="radio"] {
        appearance:       none;
        background-color: var(--color-paper);
        border-color:     var(--color-ink);
        border-style:     solid;
        border-radius:    50%;
        cursor:           pointer;
        position:         relative;
        margin:           0;
    }

    /* ● : 内円 (box-height - border-width * 2) から更に border-width * 2 を引いた直径。
       内円との間隔は border-width 1個分になる */

    label > input[type="radio"]::after {
        background-color: transparent;
        border-radius:    50%;
        content:          "";
        inset-block:      0;
        inset-inline:     0;
        margin:           auto; /* 中央揃え (inset: 0 の余白を上下左右均等に配分) */
        position:         absolute;
    }

    @media (prefers-reduced-motion: no-preference) {
        label > input[type="radio"]::after {
            transition: background-color 150ms ease;
        }
    }

    label > input[type="radio"]:checked::after {
        background-color: var(--color-emphasis-fill);
    }

    /* :focus-visible, :hover, :active */

    label > input[type="radio"]:focus-visible,
    label > input[type="radio"]:hover,
    label > input[type="radio"]:active {
        outline-color:  var(--color-focus);
        outline-offset: 0;
        outline-style:  solid;
        outline-width:  0.25rem;
        z-index:        1;
    }

    /* [data-size] */

    label > input[type="radio"][data-size="xs"] {
        border-width: var(--xs-border-width);
        block-size:   var(--xs-box-height);
        inline-size:  var(--xs-box-height);
    }
    label > input[type="radio"][data-size="xs"]::after {
        block-size:  calc(var(--xs-box-height) - var(--xs-border-width) * 4);
        inline-size: calc(var(--xs-box-height) - var(--xs-border-width) * 4);
    }

    label > input[type="radio"][data-size="sm"] {
        border-width: var(--sm-border-width);
        block-size:   var(--sm-box-height);
        inline-size:  var(--sm-box-height);
    }
    label > input[type="radio"][data-size="sm"]::after {
        block-size:  calc(var(--sm-box-height) - var(--sm-border-width) * 4);
        inline-size: calc(var(--sm-box-height) - var(--sm-border-width) * 4);
    }

    label > input[type="radio"]:not([data-size]),
    label > input[type="radio"][data-size="md"] {
        border-width: var(--md-border-width);
        block-size:   var(--md-box-height);
        inline-size:  var(--md-box-height);
    }
    label > input[type="radio"]:not([data-size])::after,
    label > input[type="radio"][data-size="md"]::after {
        block-size:  calc(var(--md-box-height) - var(--md-border-width) * 4);
        inline-size: calc(var(--md-box-height) - var(--md-border-width) * 4);
    }

    label > input[type="radio"][data-size="lg"] {
        border-width: var(--lg-border-width);
        block-size:   var(--lg-box-height);
        inline-size:  var(--lg-box-height);
    }
    label > input[type="radio"][data-size="lg"]::after {
        block-size:  calc(var(--lg-box-height) - var(--lg-border-width) * 4);
        inline-size: calc(var(--lg-box-height) - var(--lg-border-width) * 4);
    }

    label > input[type="radio"][data-size="xl"] {
        border-width: var(--xl-border-width);
        block-size:   var(--xl-box-height);
        inline-size:  var(--xl-box-height);
    }
    label > input[type="radio"][data-size="xl"]::after {
        block-size:  calc(var(--xl-box-height) - var(--xl-border-width) * 4);
        inline-size: calc(var(--xl-box-height) - var(--xl-border-width) * 4);
    }

    label > input[type="radio"][data-size="2xl"] {
        border-width: var(--2xl-border-width);
        block-size:   var(--2xl-box-height);
        inline-size:  var(--2xl-box-height);
    }
    label > input[type="radio"][data-size="2xl"]::after {
        block-size:  calc(var(--2xl-box-height) - var(--2xl-border-width) * 4);
        inline-size: calc(var(--2xl-box-height) - var(--2xl-border-width) * 4);
    }

    /* :user-invalid, [aria-invalid="true"] */

    label:has(> input[type="radio"]:user-invalid),
    label:has(> input[type="radio"][aria-invalid="true"]) {
        color: var(--color-error);
    }
    label > input[type="radio"]:user-invalid,
    label > input[type="radio"][aria-invalid="true"] {
        border-color: var(--color-error);
    }
    label > input[type="radio"]:user-invalid:checked::after,
    label > input[type="radio"][aria-invalid="true"]:checked::after {
        background-color: var(--color-error);
    }
    label > input[type="radio"]:user-invalid:focus-visible,
    label > input[type="radio"][aria-invalid="true"]:focus-visible {
        outline-color: var(--color-error);
    }

    /* forced-colors */

    @media (forced-colors: active) {
        label > input[type="radio"] {
            background-color: Canvas;
            border-color:     CanvasText;
        }
        label > input[type="radio"]:checked::after {
            background-color: CanvasText;
        }
        label > input[type="radio"]:focus-visible,
        label > input[type="radio"]:hover,
        label > input[type="radio"]:active {
            outline-color: Highlight;
        }
    }

    /* disabled, [aria-disabled="true"] */

    label:has(> input[type="radio"]:disabled),
    label:has(> input[type="radio"][aria-disabled="true"]) {
        color: var(--color-mute);
    }
    label > input[type="radio"]:disabled,
    label > input[type="radio"][aria-disabled="true"] {
        border-color:   var(--color-mute);
        cursor:         not-allowed;
        outline-color:  transparent;
        pointer-events: none;
    }
    label > input[type="radio"]:disabled:checked::after,
    label > input[type="radio"][aria-disabled="true"]:checked::after {
        background-color: var(--color-mute);
    }

    @media (forced-colors: active) {
        label > input[type="radio"]:disabled,
        label > input[type="radio"][aria-disabled="true"] {
            border-color: GrayText;
        }
        label > input[type="radio"]:disabled:checked::after,
        label > input[type="radio"][aria-disabled="true"]:checked::after {
            background-color: GrayText;
        }
    }
}
