/* <label>
        <input type="radio">
        inline</label> */

@layer css.components {

    label:has(> input[type="radio"]) {
        position: relative;
        display: inline flex;
        align-items: center;
        gap: var(--gap);
        width: fit-content;
        color: rgb(var(--rgb-ink));
        font-family: var(--font-family-sans);
        font-weight: normal;
    }

    label:has(> input[type="radio"]:is(:disabled, [aria-disabled="true"])) {
        color: var(--color-muted);
    }

    label[data-size="xs"]:has(> input[type="radio"]) {
        --gap: 0.25rem;
        --radio-outer-size: var(--xs-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: calc(8 / 16 * 1rem);
        --radio-border-width: 0.125rem;
        min-height: var(--xs-box-height);
        font-size: var(--xs-font-size);
        line-height: var(--xs-line-height);
        letter-spacing: var(--xs-letter-spacing);
    }

    label[data-size="sm"]:has(> input[type="radio"]) {
        --gap: 0.25rem;
        --radio-outer-size: var(--sm-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: calc(10 / 16 * 1rem);
        --radio-border-width: 0.125rem;
        min-height: var(--sm-box-height);
        font-size: var(--sm-font-size);
        line-height: var(--sm-line-height);
        letter-spacing: var(--sm-letter-spacing);
    }

    label:not([data-size]):has(> input[type="radio"]),
    label[data-size="md"]:has(> input[type="radio"]) {
        --gap: 0.5rem;
        --radio-outer-size: var(--md-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: 0.75rem;
        --radio-border-width: 0.125rem;
        min-height: var(--md-box-height);
        font-size: var(--md-font-size);
        line-height: var(--md-line-height);
        letter-spacing: var(--md-letter-spacing);
    }

    label[data-size="lg"]:has(> input[type="radio"]) {
        --gap: 0.75rem;
        --radio-outer-size: var(--lg-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: 1rem;
        --radio-border-width: calc(3 / 16 * 1rem);
        min-height: var(--lg-box-height);
        font-size: var(--lg-font-size);
        line-height: var(--lg-line-height);
        letter-spacing: var(--lg-letter-spacing);
    }

    label[data-size="xl"]:has(> input[type="radio"]) {
        --gap: 1rem;
        --radio-outer-size: var(--xl-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: 1.25rem;
        --radio-border-width: calc(3 / 16 * 1rem);
        min-height: var(--xl-box-height);
        font-size: var(--xl-font-size);
        line-height: var(--xl-line-height);
        letter-spacing: var(--xl-letter-spacing);
    }

    label[data-size="2xl"]:has(> input[type="radio"]) {
        --gap: 1.25rem;
        --radio-outer-size: var(--2xl-line-height);
        --radio-size: calc(var(--radio-outer-size) + 2 * 0.25rem);
        --radio-inner-size: 1.5rem;
        --radio-border-width: 0.25rem;
        min-height: var(--2xl-box-height);
        font-size: var(--2xl-font-size);
        line-height: var(--2xl-line-height);
        letter-spacing: var(--2xl-letter-spacing);
    }

    label > input[type="radio"] {
        position: relative;
        flex-shrink: 0;
        margin: 0;
        appearance: none;
        width: var(--radio-outer-size);
        height: var(--radio-outer-size);
        border-radius: 51%;
        background-color: var(--color-background);
        border: var(--radio-border-width) solid var(--color-muted);
    }

    label > input[type="radio"][aria-invalid="true"] {
        border-color: rgb(var(--rgb-error));
    }

    label > input[type="radio"]:is(:disabled, [aria-disabled="true"]) {
        border-color: rgb(var(--rgb-light-gray));
    }

    @media (hover: hover) {
        label:has(> input[type="radio"])::before {
            position: absolute;
            top: 50%;
            left: calc((var(--radio-size) - var(--radio-outer-size)) / -2);
            transform: translateY(-50%);
            width: var(--radio-size);
            height: var(--radio-size);
            border-radius: 50%;
            content: "";
            pointer-events: none;
        }

        label:has(> input[type="radio"]:not(:focus, :disabled, [aria-disabled="true"]):hover)::before {
            background-color: rgb(var(--rgb-ink) / var(--alpha-highlight-weak));
        }
    }

    label > input[type="radio"]:focus {
        outline: none;
        box-shadow:
            inset 0 0 0 0.125rem var(--color-background),
            inset 0 0 0 0.1875rem var(--color-focus);
    }

    @media (hover: hover) {
        label > input[type="radio"]:not(:disabled, [aria-disabled="true"]):hover {
            border-color: rgb(var(--rgb-border));
        }

        label > input[type="radio"][aria-invalid="true"]:not(:disabled, [aria-disabled="true"]):hover {
            border-color: rgb(var(--rgb-error));
        }
    }

    label > input[type="radio"]:checked {
        border-color: var(--color-emphasis);
    }

    label > input[type="radio"][aria-invalid="true"]:checked {
        border-color: rgb(var(--rgb-error));
    }

    label > input[type="radio"]:checked:is(:disabled, [aria-disabled="true"]) {
        border-color: rgb(var(--rgb-light-gray));
    }

    @media (hover: hover) {
        label > input[type="radio"]:checked:not(:disabled, [aria-disabled="true"]):hover {
            border-color: var(--color-emphasis-hover);
        }

        label > input[type="radio"][aria-invalid="true"]:checked:not(:disabled, [aria-disabled="true"]):hover {
            border-color: rgb(var(--rgb-error));
        }
    }

    label > input[type="radio"]:checked::before {
        position: absolute;
        inset: 0;
        margin: auto;
        width: var(--radio-inner-size);
        height: var(--radio-inner-size);
        border-radius: 51%;
        background-color: var(--color-emphasis);
        content: "";
    }

    label > input[type="radio"][aria-invalid="true"]:checked::before {
        background-color: rgb(var(--rgb-error));
    }

    label > input[type="radio"]:checked:is(:disabled, [aria-disabled="true"])::before {
        background-color: rgb(var(--rgb-light-gray));
    }

    @media (hover: hover) {
        label > input[type="radio"]:checked:not(:disabled, [aria-disabled="true"]):hover::before {
            background-color: var(--color-emphasis-hover);
        }

        label > input[type="radio"][aria-invalid="true"]:checked:not(:disabled, [aria-disabled="true"]):hover::before {
            background-color: rgb(var(--rgb-error));
        }
    }

    @media (forced-colors: active) {
        label > input[type="radio"] {
            border-color: ButtonText;
        }

        label > input[type="radio"]:is(:disabled, [aria-disabled="true"]) {
            border-color: GrayText;
        }

        label > input[type="radio"]:checked {
            border-color: Highlight;
        }

        label > input[type="radio"]:checked:is(:disabled, [aria-disabled="true"]) {
            border-color: GrayText;
        }

        label > input[type="radio"]:checked::before {
            background-color: Highlight;
        }

        label > input[type="radio"]:checked:is(:disabled, [aria-disabled="true"])::before {
            background-color: GrayText;
        }
    }

}
