.css-select {
  vertical-align: middle;
  box-sizing: border-box;
  border-radius: calc(8 / 16 * 1rem);
  border: 1px solid rgb(var(--rgb-gray));
  background-color: rgb(var(--rgb-background));
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 17L3 8L4 7L12 15L20 7L21 8L12 17Z' fill='%23333333'/></svg>");
  background-repeat: no-repeat;
  background-position: right calc(16 / 16 * 1rem) center;
  background-size: calc(16 / 16 * 1rem);
  padding-right: calc(40 / 16 * 1rem);
  padding-left: calc(16 / 16 * 1rem);
  color: rgb(var(--rgb-ink));
  font: inherit;
  line-height: var(--css-typography-text-flush-2-line-height);
  letter-spacing: inherit;
  appearance: none;
}

.css-select[css-size="sm"] {
  height: var(--css-size-sm-height);
}

.css-select:not([css-size]),
.css-select[css-size="md"] {
  height: var(--css-size-md-height);
}

.css-select[css-size="lg"] {
  height: var(--css-size-lg-height);
}

.css-select:focus-visible {
  outline: calc(4 / 16 * 1rem) solid rgb(var(--rgb-border));
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) rgb(var(--rgb-accent-yellow));
}

@media (hover: hover) {
  .css-select:hover {
    border-color: rgb(var(--rgb-border));
  }
}

.css-select:is(:user-invalid, [aria-invalid="true"]) {
  border-color: rgb(var(--rgb-accent-red));
}

@media (hover: hover) {
  .css-select:is(:user-invalid, [aria-invalid="true"]):hover {
    border-color: rgb(var(--rgb-accent-red));
  }
}

.css-select:is(:disabled, [aria-disabled="true"]),
.css-select:is(:disabled, [aria-disabled="true"]):hover {
  border: 1px solid rgb(var(--rgb-light-gray));
  background-color: rgb(var(--rgb-light-gray) / 0.3);
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 17L3 8L4 7L12 15L20 7L21 8L12 17Z' fill='%23949494'/></svg>");
  color: rgb(var(--rgb-gray));
}

@media (forced-colors: active) {
  .css-select {
    color: ButtonText;
    border-color: ButtonText;
    background-image: none;
  }

  .css-select:is(:disabled, [aria-disabled="true"]),
  .css-select:is(:disabled, [aria-disabled="true"]):hover {
    border-color: GrayText;
    color: GrayText;
    background-image: none;
  }
}

.css-select:open {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M12 7L21 16L20 17L12 9L4 17L3 16L12 7Z' fill='%23333333'/></svg>");
}

.css-select[multiple] {
  appearance: auto;
  background-image: none;
  padding: calc(4 / 16 * 1rem) 0;
  height: auto;
}

.css-select[multiple] option {
  padding: calc(6 / 16 * 1rem) calc(16 / 16 * 1rem);
  border-radius: calc(4 / 16 * 1rem);
}

.css-select[multiple] option:checked {
  background: rgb(var(--rgb-emphasis) / 15%);
}
