:root[data-theme="light"] {
    --color-ink:   rgb(var(--rgb-black));
    --color-paper: rgb(var(--rgb-white));
    --color-emphasis: rgb(var(--rgb-accent-blue));
    --color-emphasis-fill: var(--color-emphasis);
}
:root[data-theme="dark"] {
    --color-ink:           rgb(var(--rgb-white));
    --color-paper:         rgb(var(--rgb-black));
    --color-emphasis:      rgb(var(--rgb-accent-sky));
    --color-emphasis-fill: rgb(var(--rgb-accent-blue));
}

@media (prefers-reduced-motion: no-preference) {
    [aria-busy="true"] {

    }
}

@media (prefers-contrast) {
    /*
    * Common Layer: Visual simplification only.
    * Change gradients background and border to a solid color.
    */
    * {
        background-image: none;
        border: 0.125rem solid var(--color-border);
        box-shadow: none;
        /* opacity: 1; */
    }
}

/* --- */

:root {
    --font-family-sans: "IBM Plex Sans", "BIZ UDGothic", "Noto Sans JP", "Hiragino Sans", sans-serif;
    --font-family-monospace: "Noto Sans Mono", "Noto Sans JP", monospace;
}
html {
    font-family: var(--font-family-sans);
}
body {
    padding: 0.25rem;
}

/* component.cssに反映予定 */

/* フォーカスのエスカレーションが必要なフォーム要素などに追加 */
/* *:focus-visible {
    outline: none;
}
*:has(*:focus-visible) {
    outline-color: var(--color-focus);
} */

:root {
    --color-emphasis: rgb(91, 47, 145);
}