.css-textarea {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--color-muted);
  background-color: var(--color-background);
  padding: calc(12 / 16 * 1rem) 1rem;
  border-radius: 0.5rem;
  color: rgb(var(--rgb-ink));
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.6;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
  resize: vertical;
}

.css-textarea[css-size="sm"] {
  font-size: 1rem;
  line-height: 1.5;
}

.css-textarea:not([css-size]),
.css-textarea[css-size="md"] {
  font-size: 1rem;
  line-height: 1.6;
}

.css-textarea[css-size="lg"] {
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
}

.css-textarea:read-only:not(:disabled) {
  border-style: dashed;
}

@media (hover: hover) {
  .css-textarea:not(:read-only):hover {
    border-color: rgb(var(--rgb-border));
  }
}

.css-textarea:is(:user-invalid, [aria-invalid="true"]) {
  border-color: rgb(var(--rgb-error));
}

@media (hover: hover) {
  .css-textarea:is(:user-invalid, [aria-invalid="true"]):hover {
    border-color: rgb(var(--rgb-error));
  }
}

.css-textarea:is(:disabled, [aria-disabled="true"]),
.css-textarea:is(:disabled, [aria-disabled="true"]):hover {
  border-color: rgb(var(--rgb-light-gray));
  background-color: rgb(var(--rgb-light-gray) / 0.3);
  color: var(--color-muted);
  resize: none;
}

@media (forced-colors: active) {
  .css-textarea[aria-disabled="true"],
  .css-textarea[aria-disabled="true"]:hover {
    border-color: GrayText;
    color: GrayText;
  }
}

.css-textarea-counter {
  display: block;
  margin-top: 0.5rem;
  color: var(--color-muted);
  font-size: var(--css-typography-text-flush-2-font-size);
  line-height: var(--css-typography-text-flush-2-line-height);
  letter-spacing: var(--css-typography-text-flush-2-letter-spacing);
}

.css-textarea-counter[css-exceeded] {
  color: rgb(var(--rgb-error));
}
