.css-textarea {
  display: inline-flex;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  border: 1px solid rgb(var(--rgb-gray));
  background-color: rgb(var(--rgb-background));
  padding: calc(12 / 16 * 1rem) calc(16 / 16 * 1rem);
  border-radius: calc(8 / 16 * 1rem);
  color: rgb(var(--rgb-ink));
  font-weight: normal;
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.6;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
  resize: vertical;
}

.css-textarea[css-size="sm"] {
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.5;
}

.css-textarea:not([css-size]),
.css-textarea[css-size="md"] {
  font-size: calc(16 / 16 * 1rem);
  line-height: 1.6;
}

.css-textarea[css-size="lg"] {
  font-size: var(--css-typography-text-normal-2-font-size);
  line-height: var(--css-typography-text-normal-2-line-height);
}

.css-textarea:read-only:not(:disabled) {
  border-style: dashed;
}

.css-textarea:focus-visible {
  outline: calc(4 / 16 * 1rem) solid rgb(var(--rgb-border));
  outline-offset: calc(2 / 16 * 1rem);
  box-shadow: 0 0 0 calc(2 / 16 * 1rem) rgb(var(--rgb-accent-yellow));
}

@media (hover: hover) {
  .css-textarea:not(:read-only):hover {
    border-color: rgb(var(--rgb-border));
  }
}

.css-textarea:is(:user-invalid, [aria-invalid="true"]) {
  border-color: rgb(var(--rgb-accent-red));
}

@media (hover: hover) {
  .css-textarea:is(:user-invalid, [aria-invalid="true"]):hover {
    border-color: rgb(var(--rgb-accent-red));
  }
}

.css-textarea:is(:disabled, [aria-disabled="true"]),
.css-textarea:is(:disabled, [aria-disabled="true"]):hover {
  border-color: rgb(var(--rgb-light-gray));
  background-color: rgb(var(--rgb-light-gray) / 0.3);
  color: rgb(var(--rgb-gray));
  resize: none;
}

@media (forced-colors: active) {
  .css-textarea[aria-disabled="true"],
  .css-textarea[aria-disabled="true"]:hover {
    border-color: GrayText;
    color: GrayText;
  }
}

.css-textarea-counter {
  display: block;
  margin-top: calc(8 / 16 * 1rem);
  color: rgb(var(--rgb-gray));
  font-size: var(--css-typography-text-flush-2-font-size);
  line-height: var(--css-typography-text-flush-2-line-height);
  letter-spacing: var(--css-typography-text-flush-2-letter-spacing);
}

.css-textarea-counter[data-exceeded] {
  color: rgb(var(--rgb-accent-red));
}
