.css-utility-link:any-link {
  display: inline-flex;
  width: fit-content;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.3;
  font-family: var(--font-family-sans);
  letter-spacing: 0;
  text-decoration: none;
  text-wrap: pretty;
}

.css-utility-link:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-utility-link__label {
  color: var(--color-neutral-solid-gray-800);
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
}

.css-utility-link:visited .css-utility-link__label {
  color: var(--color-neutral-solid-gray-800);
}

@media (hover: hover) {
  .css-utility-link:hover .css-utility-link__label {
    color: var(--color-neutral-solid-gray-800);
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.css-utility-link:active .css-utility-link__label {
  color: var(--color-neutral-solid-gray-800);
  text-decoration-thickness: calc(1 / 16 * 1rem);
}