.css-accordion {
  --_icon-size: calc(20 / 16 * 1rem);
  border-bottom: 1px solid var(--color-neutral-solid-gray-420);
}

@media (min-width: 48rem) {
  .css-accordion {
    --_icon-size: 2rem;
  }
}

.css-accordion__summary {
  position: relative;
  display: block;
  padding: 0.5rem 0.5rem 0.5rem
    calc(var(--_icon-size) + 0.75rem);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
  cursor: default;
}

.css-accordion__summary::marker {
  content: "";
}

.css-accordion__summary::-webkit-details-marker {
  display: none;
}

@media (min-width: 48rem) {
  .css-accordion__summary {
    padding: 1rem 1rem 1rem
      calc(var(--_icon-size) + calc(20 / 16 * 1rem));
    font-size: calc(18 / 16 * 1rem);
    line-height: 1.6;
  }
}

@media (hover: hover) {
  .css-accordion__summary:hover:not(:focus-visible) {
    background-color: var(--color-neutral-solid-gray-50);
  }
}

.css-accordion__summary:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-accordion__icon {
  position: absolute;
  top: 0.5rem;
  left: 0.125rem;
  margin-top: calc((1lh - var(--_icon-size)) / 2);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: var(--_icon-size);
  height: var(--_icon-size);
  border-radius: 50%;
  border: 1px solid currentcolor;
  background-color: var(--color-neutral-white);
  color: var(--color-primitive-blue-1000);
}

@media (min-width: 48rem) {
  .css-accordion__icon {
    top: calc(14 / 16 * 1rem);
    left: calc(6 / 16 * 1rem);
  }
}

.css-accordion[open] .css-accordion__icon {
  transform: rotate(180deg);
}

@media (hover: hover) {
  .css-accordion__summary:hover .css-accordion__icon {
    outline: 0.125rem solid currentcolor;
  }
}

.css-accordion__icon-svg {
  margin-top: 0.125rem;
  width: 1rem;
  height: 1rem;
  pointer-events: none;
}

@media (min-width: 48rem) {
  .css-accordion__icon-svg {
    width: auto;
    height: auto;
  }
}

.css-accordion__summary :is(h1, h2, h3, h4, h5, h6) {
  margin: 0;
  font: inherit;
}

.css-accordion__content {
  padding: 1rem 0.5rem 1rem
    calc(var(--_icon-size) + 0.75rem);
}

@media (min-width: 48rem) {
  .css-accordion__content {
    padding: 1.5rem 1rem 1.5rem
      calc(var(--_icon-size) + 1.25rem);
  }
}

.css-accordion__back-link:any-link {
  display: flex;
  align-items: flex-start;
  gap: calc(6 / 16 * 1rem);
  width: fit-content;
  color: var(--color-primitive-blue-1000);
  text-decoration: underline;
  text-decoration-thickness: calc(1 / 16 * 1rem);
  text-underline-offset: calc(3 / 16 * 1rem);
  text-spacing-trim: trim-start;
}

@media (hover: hover) {
  .css-accordion__back-link:hover {
    color: var(--color-primitive-blue-900);
    text-decoration-thickness: calc(3 / 16 * 1rem);
  }
}

.css-accordion__back-link:active {
  color: var(--color-primitive-orange-800);
  text-decoration-thickness: calc(1 / 16 * 1rem);
}

.css-accordion__back-link:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-accordion__back-link-icon {
  margin-top: calc((1lh - 24 / 16 * 1rem) / 2);
  flex-shrink: 0;
}
