/*.md
!README.md
!CONTRIBUTING.md

node_modules

reference/*
!/reference/InterfaceDesign.md
!/reference/audit.mjs
!/reference/style.css

reference/gds/
reference/govuk-frontend/
reference/CUD推奨配色セットガイドブック.pdf
reference/CUDO.md
