.css-file-upload {
  display: block;
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
  overflow-wrap: anywhere;
}

.css-form-control-label .css-file-upload {
  margin-top: 0.5rem;
}

.css-file-upload__input:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-file-upload:defined .css-file-upload__input {
  display: none;
}

.css-file-upload:not(:defined) .css-file-upload__drop-area,
.css-file-upload:not(:defined) .css-file-upload__empty-message,
.css-file-upload:not(:defined) .css-file-upload__remove-button {
  display: none;
}

.css-file-upload__drop-area {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem 1rem;
  border: 1px solid var(--color-neutral-solid-gray-536);
  border-radius: 0.5rem;
  background-color: var(--color-neutral-solid-gray-50);
  padding: 2rem;
}

.css-file-upload[css-error] .css-file-upload__drop-area {
  border-color: var(--color-semantic-error-1);
}

.css-file-upload__drop-area[css-dragover] {
  outline: 4px solid var(--color-semantic-success-1);
  outline-offset: -4px;
  background-color: var(--color-primitive-green-50);
}

.css-file-upload__drop-area[css-dragover] .css-button,
.css-button[css-dragover] {
  background-color: var(--button-outline-active-bg-color);
  color: var(--button-active-color);
  text-decoration: underline;
}

.css-file-upload[css-error] .css-button[css-type="outlined"] {
  border-color: var(--color-semantic-error-1);
}

.css-file-upload__drop-hint {
  margin: 0;
  width: 0;
  flex-grow: 1;
  min-width: 12em;
}

.css-file-upload__drop-area > .css-button {
  flex-shrink: 0;
}

.css-file-upload__select-summary,
.css-file-upload__error-messages {
  width: 100%;
  margin: 0;
}

.css-file-upload__select-summary:empty,
.css-file-upload__error-messages:empty {
  display: none;
}

.css-file-upload__error-messages {
  padding: 0;
  list-style-type: none;
}

.css-file-upload__error-messages > li {
  color: var(--color-semantic-error-1);
}

.css-file-upload__drop-area .css-file-upload__error-messages > li {
  color: var(--color-semantic-error-2);
}

.css-file-upload__expand-drop-area {
  width: 100%;
  margin: 2rem 0 calc(-16 / 16 * 1rem) calc(-4 / 16 * 1rem);
}

.css-file-upload__empty-message {
  margin: 1rem 0 0;
}

.css-file-upload__file-list {
  margin: 1rem 0 0;
  padding: 0;
  list-style-type: none;
  counter-reset: file-item;
}

.css-file-upload__file-item {
  display: flex;
  align-items: baseline;
  counter-increment: file-item;
}

.css-file-upload__remove-button {
  order: -1;
}

.css-file-upload__file-item + .css-file-upload__file-item {
  margin-top: 0.25rem;
}

.css-file-upload__remove-button.css-button[css-size="xs"] {
  flex-shrink: 0;
  min-width: 3rem;
  min-height: calc(30 / 16 * 1rem);
  font-size: 1rem;
}

.css-file-upload:not([css-multiple]) .css-file-upload__file-marker {
  display: flex;
  flex-shrink: 0;
  align-self: start;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: calc(30 / 16 * 1rem);
}

.css-file-upload:not([css-multiple])
  .css-file-upload__file-marker::before {
  width: calc(6 / 16 * 1rem);
  height: calc(6 / 16 * 1rem);
  border-radius: 50%;
  background-color: currentcolor;
  content: "";
}

@media (forced-colors: active) {
  .css-file-upload:not([css-multiple])
    .css-file-upload__file-marker::before {
    background-color: CanvasText;
  }
}

.css-file-upload[css-multiple] .css-file-upload__file-marker {
  width: 2rem;
}

.css-file-upload[css-multiple] .css-file-upload__file-marker::before {
  content: counter(file-item) ".";
}

.css-file-upload__file-info {
  flex: 1;
  min-width: 0;
}

.css-file-upload__file-item[css-error] .css-file-upload__file-info {
  border-left: 4px solid var(--color-semantic-error-1);
  padding-left: 0.5rem;
  color: var(--color-semantic-error-1);
}

.css-file-upload__file-info > p {
  margin: 0;
}

.css-file-upload__file-name {
  margin-right: 1rem;
  font-weight: bold;
}

.css-file-upload__file-meta {
  color: var(--color-neutral-solid-gray-600);
}

.css-file-upload__file-item[css-error] .css-file-upload__file-meta {
  color: inherit;
}

.css-file-upload__file-item input[type="file"] {
  display: none;
}

.css-file-upload__viewport-overlay {
  position: fixed;
  inset: 0;
  z-index: 9999;
  border: 4px solid var(--color-semantic-success-1);
  background-color: var(--color-primitive-green-50);
}

.css-file-upload__viewport-overlay > div {
  display: flex;
  place-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: calc(32 / 16 * 1rem - 4px);

  /* @link https://utopia.fyi/type/calculator/?c=320,18,1.2,1920,48,1.25,0,0,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  font-size: clamp(
    calc(18 / 16 * 1rem),
    0.75rem +
    1.875vw,
    3rem
  );
  font-weight: bold;
  pointer-events: none;
}

.css-file-upload__viewport-overlay > div span {
  display: inline-block;
}
