.css-date-picker {
  display: inline-flex;
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.7;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
}

.css-date-picker__controls {
  position: relative;
  display: flex;
  align-items: end;
  column-gap: 1rem;
}

.css-date-picker__inputs {
  --_background-color: var(--color-neutral-white);

  display: inline-flex;
  box-sizing: border-box;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral-solid-gray-600);
  background-color: var(--_background-color);
  padding: 0.125rem 0 0.125rem 0.125rem;
}

.css-date-picker__controls[css-size="sm"] .css-date-picker__inputs {
  height: 2.5rem;
}

.css-date-picker__controls[css-size="md"] .css-date-picker__inputs {
  height: 3rem;
}

.css-date-picker__controls[css-size="lg"] .css-date-picker__inputs {
  height: calc(56 / 16 * 1rem);
}

.css-date-picker__inputs:focus-within {
  border-color: var(--color-neutral-black);
}

@media (hover: hover) {
  .css-date-picker__inputs:hover {
    border-color: var(--color-neutral-solid-gray-900);
  }
}

.css-date-picker__inputs[css-error] {
  border-color: var(--color-semantic-error-1);
}

.css-date-picker__inputs[css-error]:focus-within {
  border-color: var(--color-primitive-red-1000);
}

.css-date-picker__inputs[css-disabled] {
  --_background-color: var(--color-neutral-solid-gray-50);
  border-color: var(--color-neutral-solid-gray-300);
  color: var(--color-neutral-solid-gray-420);
}

.css-date-picker__inputs[data-readonly] {
  border-style: dashed;
  border-color: var(--color-neutral-solid-gray-600);
}

@media (forced-colors: active) {
  .css-date-picker__inputs:focus-within {
    border-color: Highlight;
  }

  @media (hover: hover) {
    .css-date-picker__inputs:hover {
      border-color: Highlight;
    }
  }

  .css-date-picker__inputs[css-disabled] {
    --_background-color: ButtonFace;
    border-color: GrayText;
    color: GrayText;
  }

  .css-date-picker__inputs[data-readonly] {
    border-color: currentcolor;
  }
}

.css-date-picker__year,
.css-date-picker__month,
.css-date-picker__day {
  position: relative;
  z-index: 0;
  display: inline-flex;
  flex-direction: row-reverse;
}

:is(.css-date-picker__month, .css-date-picker__day):not(:first-child) {
  margin-left: calc(-4 / 16 * 1rem);
}

:is(.css-date-picker__month, .css-date-picker__day):last-child {
  padding-right: 1rem;
}

.css-date-picker__label {
  position: relative;
  z-index: 1;
  align-self: center;
  background-color: var(--_background-color);
  padding: 0.25rem;
  line-height: 1;
}

.css-date-picker__input {
  margin-right: calc(-4 / 16 * 1rem);
  box-sizing: border-box;
  width: 4rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  background-color: transparent;
  padding-right: calc(12 / 16 * 1rem);
  color: inherit;
  text-align: right;
  font: inherit;
  letter-spacing: inherit;
}

.css-date-picker__input:focus {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border: 1px solid var(--color-neutral-solid-gray-600);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

:is(.css-date-picker__month, .css-date-picker__day) .css-date-picker__input {
  width: calc(44 / 16 * 1rem);
}

.css-date-picker__separated-inputs {
  display: inline-flex;
  column-gap: 1rem;
  box-sizing: content-box;
  padding-top: calc(12 / 16 * 1rem);
}

.css-date-picker__controls[css-size="sm"]
  .css-date-picker__separated-inputs {
  height: 2.5rem;
}

.css-date-picker__controls[css-size="md"]
  .css-date-picker__separated-inputs {
  height: 3rem;
}

.css-date-picker__controls[css-size="lg"]
  .css-date-picker__separated-inputs {
  height: calc(56 / 16 * 1rem);
}

.css-date-picker__separated-year,
.css-date-picker__separated-month,
.css-date-picker__separated-day {
  position: relative;
}

.css-date-picker__separated-label {
  position: absolute;
  top: calc(-12 / 16 * 1rem);
  right: 0;
  left: 0;
  margin: 0 auto;
  box-sizing: border-box;
  width: 1.5rem;
  background-color: var(--color-neutral-white);
  padding: 0.25rem;
  line-height: 1;
}

.css-date-picker__separated-label:has(+ :disabled) {
  color: var(--color-neutral-solid-gray-420);
}

@media (forced-colors: active) {
  .css-date-picker__separated-label:has(+ :disabled) {
    color: GrayText;
  }
}

.css-date-picker__separated-input {
  box-sizing: border-box;
  width: calc(72 / 16 * 1rem);
  height: 100%;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral-solid-gray-600);
  background-color: var(--color-neutral-white);
  color: inherit;
  text-align: center;
  font: inherit;
  letter-spacing: inherit;
}

.css-date-picker__separated-input:read-only:not(:disabled) {
  border-style: dashed;
}

.css-date-picker__separated-input[aria-invalid="true"] {
  border-color: var(--color-semantic-error-1);
}

@media (hover: hover) {
  .css-date-picker__separated-input:not(:read-only):hover {
    border-color: var(--color-neutral-solid-gray-900);
  }

  .css-date-picker__separated-input[aria-invalid="true"]:hover {
    border-color: var(--color-primitive-red-1000);
  }
}

.css-date-picker__separated-input:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-date-picker__separated-input:disabled {
  border-color: var(--color-neutral-solid-gray-600);
  background-color: var(--color-neutral-solid-gray-50);
  color: var(--color-neutral-solid-gray-420);
}

:is(.css-date-picker__separated-month, .css-date-picker__separated-day)
  .css-date-picker__separated-input {
  width: calc(56 / 16 * 1rem);
}

@media (forced-colors: active) {
  .css-date-picker__separated-input:disabled {
    border-color: GrayText;
    color: GrayText;
  }
}

.css-date-picker__calendar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.25rem;
  border-radius: calc(6 / 16 * 1rem);
  border: 1px solid;
  background-color: var(--color-neutral-white);
  padding-right: calc(12 / 16 * 1rem);
  padding-left: calc(12 / 16 * 1rem);
  color: var(--color-primitive-blue-900);
}

.css-date-picker__controls[css-size="sm"] .css-date-picker__calendar-button {
  height: 2.5rem;
}

.css-date-picker__controls[css-size="md"] .css-date-picker__calendar-button {
  height: 3rem;
}

.css-date-picker__controls[css-size="lg"] .css-date-picker__calendar-button {
  height: calc(56 / 16 * 1rem);
}

@media (hover: hover) {
  .css-date-picker__calendar-button:enabled:hover {
    border-width: calc(3 / 16 * 1rem);
    padding-right: calc(10 / 16 * 1rem);
    padding-left: calc(10 / 16 * 1rem);
  }
}

.css-date-picker__calendar-button:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  border-radius: 0.25rem;
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-date-picker__calendar-button:disabled {
  cursor: default;
  background-color: var(--color-neutral-white);
  color: var(--color-neutral-solid-gray-300);
  text-decoration: none;
}

@media (forced-colors: active) {
  .css-date-picker__calendar-button:disabled {
    border-color: GrayText;
    color: GrayText;
  }
}

.css-date-picker__calendar-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.css-date-picker__calendar-chevron {
  width: 1rem;
  height: 1rem;
}

.css-date-picker__calendar-button[aria-expanded="true"]
  .css-date-picker__calendar-chevron {
  rotate: 180deg;
}

.css-date-picker__backdrop {
  position: fixed;
  inset: 0;
  z-index: -1;
}

.css-date-picker__calendar-popover {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  border-radius: 0.5rem;
  border: 1px solid var(--color-neutral-solid-gray-420);
  background-color: var(--color-neutral-white);
  box-shadow: var(--elevation-1);
}

.css-date-picker__error-text {
  margin: 0.5rem 0 0 0;
  color: var(--color-semantic-error-1);
  line-height: 1.7;
}
