.css-hamburger-menu-icon-button {
  display: inline-flex;
  width: fit-content;
  border: 0;
  border-radius: 0.25rem;
  background: transparent;
  padding: 0;
  color: var(--color-neutral-black);
  touch-action: manipulation;
}

@media (hover: hover) {
  .css-hamburger-menu-icon-button:hover {
    outline: 1px solid;
    background-color: var(--color-neutral-solid-gray-50);
  }
}

.css-hamburger-menu-icon-button:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-hamburger-menu-icon-button__icon {
  display: block;
  width: calc(44 / 16 * 1rem);
  height: calc(44 / 16 * 1rem);
}
