.css-hamburger-menu-button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  width: fit-content;
  border: 0;
  border-radius: calc(6 / 16 * 1rem);
  background: transparent;
  padding: 0.25rem calc(12 / 16 * 1rem) calc(6 / 16 * 1rem)
    calc(12 / 16 * 1rem);
  color: var(--color-neutral-solid-gray-800);
  font-weight: normal;
  font-size: 1rem;
  line-height: 1;
  font-family: var(--font-family-sans);
  letter-spacing: 0.02em;
  touch-action: manipulation;
}

@media (hover: hover) {
  .css-hamburger-menu-button:hover {
    background-color: var(--color-neutral-solid-gray-50);
    text-decoration: underline;
    text-underline-offset: calc(3 / 16 * 1rem);
  }
}

.css-hamburger-menu-button:focus-visible {
  outline: 0.25rem solid var(--color-neutral-black);
  outline-offset: 0.125rem;
  background-color: var(--color-primitive-yellow-300);
  box-shadow: 0 0 0 0.125rem var(--color-primitive-yellow-300);
}

.css-hamburger-menu-button__icon {
  margin-top: 0.125rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-shrink: 0;
  color: var(--color-neutral-black);
}

@media (forced-colors: active) {
  .css-hamburger-menu-button__icon {
    color: currentcolor;
  }
}
