@layer css.data_size {
    *[data-size="xs"] {
        border-radius:  var(--xs-border-radius);
        border-width:   var(--xs-border-width);
        font-size:      var(--xs-font-size);
        letter-spacing: var(--xs-letter-spacing);
        line-height:    var(--xs-line-height);
        min-height:     var(--xs-box-height);
        padding-block:  calc(((var(--xs-box-height) - var(--xs-line-height)) / 2) - var(--xs-border-width));
        padding-inline: var(--xs-border-radius);
    }
    
    *[data-size="sm"] {
        border-radius:  var(--sm-border-radius);
        border-width:   var(--sm-border-width);
        font-size:      var(--sm-font-size);
        letter-spacing: var(--sm-letter-spacing);
        line-height:    var(--sm-line-height);
        min-height:     var(--sm-box-height);
        padding-block:  calc(((var(--sm-box-height) - var(--sm-line-height)) / 2) - var(--sm-border-width));
        padding-inline: var(--sm-border-radius);
    }
    
    *:not([data-size]),
    *[data-size="md"] {
        border-radius:  var(--md-border-radius);
        border-width:   var(--md-border-width);
        font-size:      var(--md-font-size);
        letter-spacing: var(--md-letter-spacing);
        line-height:    var(--md-line-height);
        min-height:     var(--md-box-height);
        padding-block:  calc(((var(--md-box-height) - var(--md-line-height)) / 2) - var(--md-border-width));
        padding-inline: var(--md-border-radius);
    }

    *[data-size="lg"] {
        border-radius:  var(--lg-border-radius);
        border-width:   var(--lg-border-width);
        font-size:      var(--lg-font-size);
        letter-spacing: var(--lg-letter-spacing);
        line-height:    var(--lg-line-height);
        min-height:     var(--lg-box-height);
        padding-block:  calc(((var(--lg-box-height) - var(--lg-line-height)) / 2) - var(--lg-border-width));
        padding-inline: var(--lg-border-radius);
    }

    *[data-size="xl"] {
        border-radius:  var(--xl-border-radius);
        border-width:   var(--xl-border-width);
        font-size:      var(--xl-font-size);
        letter-spacing: var(--xl-letter-spacing);
        line-height:    var(--xl-line-height);
        min-height:     var(--xl-box-height);
        padding-block:  calc(((var(--xl-box-height) - var(--xl-line-height)) / 2) - var(--xl-border-width));
        padding-inline: var(--xl-border-radius);
    }

    *[data-size="2xl"] {
        border-radius:  var(--2xl-border-radius);
        border-width:   var(--2xl-border-width);
        font-size:      var(--2xl-font-size);
        letter-spacing: var(--2xl-letter-spacing);
        line-height:    var(--2xl-line-height);
        min-height:     var(--2xl-box-height);
        padding-block:  calc(((var(--2xl-box-height) - var(--2xl-line-height)) / 2) - var(--2xl-border-width));
        padding-inline: var(--2xl-border-radius);
    }
}
