@layer src.data_size {

    /* === common for elements whether inline flow or not, focusable or not. === */

    *[data-size="xs"] {
        font-size:      var(--xs-font-size);
        letter-spacing: var(--xs-letter-spacing);
        line-height:    var(--xs-line-height);
    }

    *[data-size="sm"] {
        font-size:      var(--sm-font-size);
        letter-spacing: var(--sm-letter-spacing);
        line-height:    var(--sm-line-height);
    }

    *[data-size="md"],
    *:not([data-size]) {
        font-size:      var(--md-font-size);
        letter-spacing: var(--md-letter-spacing);
        line-height:    var(--md-line-height);
    }

    *[data-size="lg"],
    h3:not([data-size]) {
        font-size:      var(--lg-font-size);
        letter-spacing: var(--lg-letter-spacing);
        line-height:    var(--lg-line-height);
    }

    *[data-size="xl"],
    h2:not([data-size]) {
        font-size:      var(--xl-font-size);
        letter-spacing: var(--xl-letter-spacing);
        line-height:    var(--xl-line-height);
    }

    *[data-size="2xl"],
    h1:not([data-size]) {
        font-size:      var(--2xl-font-size);
        letter-spacing: var(--2xl-letter-spacing);
        line-height:    var(--2xl-line-height);
    }

    /* === size variants for elements not inline flow === */

    *:where([data-style="fill"], [data-style="outline"])[data-size="xs"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="xs"] {
        border-radius:  var(--xs-border-radius);
        border-width:   var(--xs-border-width);
        min-height:     var(--xs-box-height);
        padding-block:  calc(((var(--xs-box-height) - var(--xs-line-height)) / 2) - var(--xs-border-width));
        padding-inline: var(--xs-border-radius);
    }

    *:where([data-style="fill"], [data-style="outline"])[data-size="sm"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="sm"] {
        border-radius:  var(--sm-border-radius);
        border-width:   var(--sm-border-width);
        min-height:     var(--sm-box-height);
        padding-block:  calc(((var(--sm-box-height) - var(--sm-line-height)) / 2) - var(--sm-border-width));
        padding-inline: var(--sm-border-radius);
    }

    *:where([data-style="fill"], [data-style="outline"])[data-size="md"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="md"],
    *:where([data-style="fill"], [data-style="outline"]):not([data-size]),
    *:where(button, summary, input, select, textarea):not([data-size]) {
        border-radius:  var(--md-border-radius);
        border-width:   var(--md-border-width);
        min-height:     var(--md-box-height);
        padding-block:  calc(((var(--md-box-height) - var(--md-line-height)) / 2) - var(--md-border-width));
        padding-inline: var(--md-border-radius);
    }

    *:where([data-style="fill"], [data-style="outline"])[data-size="lg"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="lg"] {
        border-radius:  var(--lg-border-radius);
        border-width:   var(--lg-border-width);
        min-height:     var(--lg-box-height);
        padding-block:  calc(((var(--lg-box-height) - var(--lg-line-height)) / 2) - var(--lg-border-width));
        padding-inline: var(--lg-border-radius);
    }

    *:where([data-style="fill"], [data-style="outline"])[data-size="xl"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="xl"] {
        border-radius:  var(--xl-border-radius);
        border-width:   var(--xl-border-width);
        min-height:     var(--xl-box-height);
        padding-block:  calc(((var(--xl-box-height) - var(--xl-line-height)) / 2) - var(--xl-border-width));
        padding-inline: var(--xl-border-radius);
    }

    *:where([data-style="fill"], [data-style="outline"])[data-size="2xl"],
    *:where(button, summary, input:is([type="text"], [type="email"], [type="password"], [type="search"], [type="url"], [type="tel"]), select, textarea)[data-size="2xl"] {
        border-radius:  var(--2xl-border-radius);
        border-width:   var(--2xl-border-width);
        min-height:     var(--2xl-box-height);
        padding-block:  calc(((var(--2xl-box-height) - var(--2xl-line-height)) / 2) - var(--2xl-border-width));
        padding-inline: var(--2xl-border-radius);
    }

    /* === size variants for elements inline flow and focusable === */

    a:not([data-style="fill"], [data-style="outline"])[data-size="xs"]:focus-visible {
        outline-offset: calc(((var(--xs-box-height) - var(--xs-line-height)) / 2) - var(--xs-border-width));
        outline-width:  var(--xs-border-width);
    }

    a:not([data-style="fill"], [data-style="outline"])[data-size="sm"]:focus-visible {
        outline-offset: calc(((var(--sm-box-height) - var(--sm-line-height)) / 2) - var(--sm-border-width));
        outline-width:  var(--sm-border-width);
    }

    a:not([data-style="fill"], [data-style="outline"]):not([data-size]):focus-visible,
    a:not([data-style="fill"], [data-style="outline"])[data-size="md"]:focus-visible {
        outline-offset: calc(((var(--md-box-height) - var(--md-line-height)) / 2) - var(--md-border-width));
        outline-width:  var(--md-border-width);
    }

    a:not([data-style="fill"], [data-style="outline"])[data-size="lg"]:focus-visible {
        outline-offset: calc(((var(--lg-box-height) - var(--lg-line-height)) / 2) - var(--lg-border-width));
        outline-width:  var(--lg-border-width);
    }

    a:not([data-style="fill"], [data-style="outline"])[data-size="xl"]:focus-visible {
        outline-offset: calc(((var(--xl-box-height) - var(--xl-line-height)) / 2) - var(--xl-border-width));
        outline-width:  var(--xl-border-width);
    }

    a:not([data-style="fill"], [data-style="outline"])[data-size="2xl"]:focus-visible {
        outline-offset: calc(((var(--2xl-box-height) - var(--2xl-line-height)) / 2) - var(--2xl-border-width));
        outline-width:  var(--2xl-border-width);
    }
}
